{% extends "base.html" %}
{% block title %}Search Results{% endblock %}

{% block body %}
<h1>Search Results</h1>
    {% if total == 0 %}
    Sorry, but nothing matched your search criteria. Please try again.
    {% elif total %}
    Your search for "{{ term }}" has {{ total }} matches.
    {% endif %}
    <ul>
        {% for movie in movies %}
            <img src="https://image.tmdb.org/t/p/original/{{ movie['poster_path'] }}" width=350 height=500 alt="Image of movie {{ movie['original_title'] }}" />
            <h3>{{ movie['original_title'] }}</h3>
            <p><a href="/movie/{{ movie['id'] }}">View More Details</a></p>
        {% endfor %}
    </ul>
{% endblock %}