<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reel Reviews: {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <a href="/">Reel Reviews</a>
        <ul>
            {% if not 'user_id' in session.keys() %}
                <li><a href="/login">Log In</a></li>
            {% endif %}

            {% if 'user_id' in session.keys() %}
                <li><a href="/user/{{ session['user_id'] }}">My Profile</a></li>
                <li><a href="/myreviews">My Reviews</a></li>
                <li><a href="/logout">Log Out</a></li>
            {% endif %}
        </ul>
    </nav>

    {% for msg in get_flashed_messages() %}
        <p class="flask-msg">
            {{ msg }}
        </p>
    {% endfor %}

    {% block body %}{% endblock %}    
</body>
</html>