{% extends "base.html" %}

{% block title %}{{ movie['original_title'] }}{% endblock %}

{% block body %}
<section class="py-5 my-3">
    <div class="container">
        <div class="row mb-5">

            <!-- Movie Image -->
            <div class="col-md-4">
                <img 
                    src="https://image.tmdb.org/t/p/original/{{ movie['poster_path'] }}" 
                    class="img-fluid"
                    width="300"
                    height="500"
                    alt="Image of movie {{ movie['original_title'] }}" 
                />
            </div>

            <!-- Movie Details -->
            <div class="col-md-8">
                <h2 class="my-3">{{ movie['original_title'] }}</h2>
                <h4> Release Date: </h4>
                <p class="my-3">{{ release_date }}</p>
                <h4>Overview:</h4>
                <p>{{ movie['overview'] }}</p>
            </div>
        </div>

        <div class="row">
        <h3>Movie Reviews ({{ total_reviews }}):</h3>

        {% if 'user_id' in session.keys() %}
            <div class="mb-3">
                <form class="p-4 px-5 my-3 border rounded-3" action="/addreview/{{ movie['id']}}" method="POST">
                    <h4 class="pb-1">Write a Review:</h4>

                    <!-- Rating Input -->
                    <div class="form-group pb-3">
                        <h5>Score:</h5>
                        <div class="star-container">
                            <div class="star-widget">
                                <input type="radio" name="rating" id="rate-5" value="5" required="">
                                <label for="rate-5" class="fa-solid fa-star"></label>
                                <input type="radio" name="rating" id="rate-4" value="4" required="">
                                <label for="rate-4" class="fa-solid fa-star"></label>
                                <input type="radio" name="rating" id="rate-3" value="3" required="">
                                <label for="rate-3" class="fa-solid fa-star"></label>
                                <input type="radio" name="rating" id="rate-2" value="2" required="">
                                <label for="rate-2" class="fa-solid fa-star"></label>
                                <input type="radio" name="rating" id="rate-1" value="1" required="">
                                <label for="rate-1" class="fa-solid fa-star"></label>
                            </div>
                        </div>
                    </div>

                    <!-- Text Input -->
                    <div class="form-group pb-3">
                        <h5>Review:</h5>
                        <textarea class="form-control" name="review" required=""></textarea>
                    </div>

                    <!-- Form Action -->
                    <div class="form-group">
                        <button class="action-btn btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        {% endif %}
        </div>

        <div class="row">
            {% for review in reviews %}
                <div class="my-1" id="{{ review.review_id }}">

                    <!-- Review Content -->
                    <h5><a href="/user/{{ review.user_id }}">{{ review.user.fname }} {{ review.user.lname[0] }}.</a></h5>
                    <p>
                        {% for i in range(review.rating) %}
                            <i class="fa-solid fa-star star-yellow"></i>
                        {% endfor %}
                        {{ review.review_date.strftime('%b %d, %Y') }}
                    </p>
                    <p>{{ review.review }}</p>

                    <!-- Delete Review Form -->
                    {% if 'user_id' in session.keys() and review.user.user_id == session['user_id'] %}
                        <form class="pb-3" action="/deletereview" method="POST">
                            <input type="hidden" name="review-id" value="{{ review.review_id }}">
                            <button class="action-btn btn" type="submit">Delete Review</button>
                        </form>
                    {% endif %}

                </div>
            {% endfor %} 
        </div>
    </div>
</section>
{% endblock %}